

.Homepage{
    font-family: 'Press Start 2P', cursive;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.beat {
    margin-top: 80px;
    font-size: 3.7rem;
}

.drop {
    font-size: 4rem;
    color: #fc1681;
    margin-top: -108px;
}


.homepage-button{
    height: 100px;
    background-color: #fff;
    border-radius: 6px;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}

.homepage-button:hover{
    color: #fff;
    background: #fc1681;
    box-shadow: 0 0 10px #fc1681, 0 0 40px #fc1681, 0 0 80px;
}