.Homepage{
    font-family: 'Press Start 2P', cursive;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

body {
    background-image: url('https://wallpaperaccess.com/full/869.jpg');
    background-position: center; 
    background-size: cover;
}

.beat {
    margin-top: 80px;
    font-size: 3.7rem;
}

.drop {
    font-size: 4rem;
    color: #fc1681;
    margin-top: -108px;
}

.homepage_buttons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 130px;
}

.homepage-button{
    height: 100px;
    border-radius: 6px;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}

.homepage-button:hover{
    color: #fff;
    background: #fc1681;
    box-shadow: 0 0 10px #fc1681, 0 0 40px #fc1681, 0 0 80px;
}

.homepage-buttonTwo{
    height: 100px;
    border-radius: 6px;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}

.homepage-buttonTwo:hover{
    color: #fff;
    background: #19FC9A;
    box-shadow: 0 0 10px #19FC9A, 0 0 40px #19FC9A, 0 0 80px;
}

.img_container {
    margin-top: -150px;
    margin-left: -375px;
}

.fox_container {
    margin-top: 75px;
}

.penguin_container {
    margin-left: 750px;
    margin-top: -160px;
}

.fox_img {
    width: 100px;
    height: 100px;
    transform: rotate(-10deg);
}

.penguin_img {
    width: 100px;
    height: 100px;
    transform: rotate(12deg);
}

.titles {
    margin-bottom: 50px;
}