.Menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    gap: 30px;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button {
    background-color: royalblue;
    color: #fff;
    height: 100px;
    width: 140px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.yellow {
    background-color: yellow;
    color: black;
}

.red {
    background-color: red;
    color: #fff;
}

.bgimage {
    height: 800px;
    width: 600px;
    background-color: black;
}

.arrowLeft {
    transform: scale(-1);
}

.level_selector {
    display: flex;
    align-items: center;
}

.main_menu {
    margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
    .bgimage {
        height: 225px;
        width: 175px;
    }

    .button {
        height: 50px;
        width: 100px;
        font-size: 1rem;
    }

    .buttons {
        display: grid;
        grid-template-columns: 100px 100px 100px;
    }

    .title {
        font-size: 2rem;
        margin-top: 40px;
    }

    h2 {
        font-size: 1.3rem;
        margin-top: -20px;
        margin-bottom: 0px;
    }
}