.LoginPage {
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    text-align: center;
}

.login-page-title{
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
}

.login-page-form{
display: flex;
flex-direction: column;
}

.login-page-fields-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-page-input {
    display: flex;
    flex-direction: column;
    height: 50px;
    margin-bottom: 10px;
}

.login-page-submit-button{
    height: 100px;
    background-color: #fff;
    border-radius: 6px;
}

.login-page-reset-password-link {
    margin-bottom: 20px;
    margin-top: 20px;
}

.login-page-submit-button:hover{
    color: #fff;
    background: #6a74ff;
    box-shadow: 0 0 10px #6a74ff, 0 0 40px #6a74ff, 0 0 80px;
}

.buttonContainer {
    display: block;
}

.homepage-buttonThree {
    width: 300px;
    height: 100px;
}
.homepage-buttonThree:hover {
    color: #fff;
    background: #56A9FC;
    box-shadow: 0 0 10px #56A9FC, 0 0 40px #56A9FC, 0 0 80px;
}

.homepage-buttonFour {
    width: 250px;
    height: 100px;
}
.homepage-buttonFour:hover {
    color: #fff;
    background: #FC1789;
    box-shadow: 0 0 10px #FC1789, 0 0 40px #FC1789, 0 0 80px;
}

@media only screen and (min-width: 800px) {
    .buttonContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .homepage-buttonTwo {
        margin-left: 50px;
    }
    .homepage-buttonThree {
        margin-left: 10px;
    }
    .homepage-buttonFour {
        margin-left: 30px;
    }
}