.main-menu {
    display: flex;
    flex-direction: column;
    place-items: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}

h1 {
    margin-top: 80px;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
}

.main-menu {
    margin-top: 100px;
}

.main-menu > a {
    margin: 0.1em;
}

.main-menu > button {
    margin: 4px;
}

.pixel-buttons-play {
    width: 200px;
    height: 95px;
}
.pixel-buttons-play:hover{
    color: #fff;
    background: #19FC9A;
    box-shadow: 0 0 10px #19FC9A, 0 0 40px #19FC9A, 0 0 80px;
}

.pixel-buttons-social {
    width: 200px;
    height: 100px;
}
.pixel-buttons-social:hover {
    color: #fff;
    background: #56A9FC;
    box-shadow: 0 0 10px #56A9FC, 0 0 40px #56A9FC, 0 0 80px;
}


.pixel-buttons-profile {
    width: 200px;
    height: 100px;
}
.pixel-buttons-profile:hover {
    color: #fff;
    background: #FFBF40;
    box-shadow: 0 0 10px #FFBF40, 0 0 40px #FFBF40, 0 0 80px;
}


.pixel-buttons-leaderboards {
    width: 350px;
    height: 100px;
}
.pixel-buttons-leaderboards:hover {
    color: #fff;
    background: #FF6524;
    box-shadow: 0 0 10px #FF6524, 0 0 40px #FF6524, 0 0 80px;
}

.pixel-buttons-signout {
    width: 200px;
    height: 100px;
}
.pixel-buttons-signout:hover {
    color: #fff;
    background: #FC1789;
    box-shadow: 0 0 10px #FC1789, 0 0 40px #FC1789, 0 0 80px;
}

@media only screen and (max-width: 500px) {
    .main-menu {
        margin-top: 40px;
    }
}