.main-menu {
    display: flex;
    flex-direction: column;
    place-items: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}

h1 {
    margin-top: 80px;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
}

.main-menu {
    margin-top: 100px;
}

.main-menu > a {
    margin: 0.1em;
}

.main-menu > button {
    margin: 4px;
}

.pixel-buttons-play {
    width: 200px;
    height: 95px;
}

.pixel-buttons-social {
    width: 200px;
    height: 100px;
}

.pixel-buttons-profile {
    width: 200px;
    height: 100px;
}

.pixel-buttons-leaderboards {
    width: 350px;
    height: 100px;
}

.pixel-buttons-signout {
    width: 200px;
    height: 100px;
}