/* .personalLeaderboard {
    text-align: center;
}

.leaderboard-chooser {
    display: inline-flex;
    margin-bottom: 20px;
}

.personal_leaderboard {
    padding-right: 10px;
}

.levelButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    gap: 5px;
}

.leaderboard-table {
    margin: auto;
    padding-bottom: 20px;
}

.pixel-buttons-personal {
    height: 120px;
    width: 240px;
}

.pixel-buttons-global {
    height: 100px;
    width: 240px;
} */