.Profile{
    font-size: 1rem;
    display: grid;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
}

.current_avatar, .user_badges {
    margin: 0 auto;
}

.user_badges {
    margin-bottom: 20px;
}

.character_select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    height: 160px;
    width: 200px;
}

.character_select_title_mobile {
    display: none;
}

.charSelectButton {
    border-radius: 10px;
    margin: 5px;
}

.main_menu_link {
    text-align: center;
    margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
    div.profile h1, h2 {
        text-align: center;
    }

    .character_select_title {
        text-align: center;
    }
    
    img {
        height: 80px;
        width: 100px;
    }
}
@media only screen and (max-width: 475px) {
    div.profile h1, h2 {
        text-align: center;
    }

    .character_select_title {
        text-align: center;
    }
    
    img {
        height: 60px;
        width: 80px;
    }
}

