.SocialFeedCommentCard{
border-radius: 20px;
background-color: rgba(255, 255, 255, 0.623);
padding: 10px 20px;
display: flex;
flex-direction: column;
margin: 20px;
border: 1px #000 solid;
}

.social-comment-card-body{
    font-size: 2rem;
    margin: 10px;

}

.social-comment-card-username{
    font-size: 1.6rem;
    margin: 10px;

}

.social-comment-card-time{
    font-size: 1.6rem;
    margin: 10px;

}