.SocialFeed{

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;


}


.social-feed-container{

    display: flex;
    flex-direction: column;
    gap: 20px;

    
    

}