.SocialFeed{

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;


}

.social-feed-title{

    font-family: 'Press Start 2P', cursive;
    font-size: 6rem;
    line-height: 2;
    gap: 20px;
    text-align: center;

}

.social-feed-container{

    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
    align-items: center;
    

}

.return_button {
    margin: auto;
}