.auth-page {
    text-align: center;
    font-size: 2rem;
}

h1 {
    margin-top: 80px;
}

.auth-form-fields {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 15px;
    
}

input {
    height: 50px;
}

.auth-submit-btn {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.auth-submit-btn:hover {
    color: #fff;
    background: #FC1789;
    box-shadow: 0 0 10px #FC1789, 0 0 40px #FC1789, 0 0 80px;
}

.auth-error-message {
    color: red;
}

.auth-user-message {
    color: green;
}

.login_link:hover {
    color: #fff;
    background: #19FC9A;
    box-shadow: 0 0 10px #19FC9A, 0 0 40px #19FC9A, 0 0 80px;
}

.reset-pass-btn {
    width: 200px;
    height: 100px;
}
.reset-pass-btn:hover {
    color: #fff;
    background: #56A9FC;
    box-shadow: 0 0 10px #56A9FC, 0 0 40px #56A9FC, 0 0 80px;
}