.auth-page {
    text-align: center;
}

h1{
    margin-top: 80px;
}

.auth-form-fields {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 20px;
    row-gap: 15px;
}

.auth-submit-btn {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.auth-error-message {
    color: red;
}

.auth-user-message {
    color: green;
}