.auth-page {
    text-align: center;
    font-size: 2rem;
}

h1 {
    margin-top: 80px;
}

.auth-form-fields {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 15px;
    
}

input {
    height: 50px;
}

.auth-submit-btn {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.auth-error-message {
    color: red;
}

.auth-user-message {
    color: green;
}